<template>
  <div id="business-loader" v-bind:class="{ isActive: toggle }">
    <h1 class="business-title" v-on:click="toggleTimer" v-bind:class="{ isActive: toggle }">
      {{businessTitle}}
    </h1>
    <div class="products-container">
      <button class="del" v-on:click="removeProducts">-</button>
      <div class="data">
        <span class="inside">{{products * productTickValue }},-</span>
        <span class="stock">[{{products}} / {{maxStock}}]</span>
        <span class="outside">{{products * productTickValue * 1.5 }},-</span>
        <div class="progress-bar">
          <i class="progress" v-bind:style="{width: products / maxStock * 100 + '%'}"></i>
        </div>
      </div>
      <button class="add" v-on:click="addProducts">+</button>
    </div>

    <div class="supplies-container">
      <button class="del" v-on:click="removeSupplies">-</button>
      <div class="data">
        <span class="stock">[{{supplies}} / {{maxSupplies}}]</span>
        <div class="progress-bar">
          <i class="progress" v-bind:style="{width: supplies / maxSupplies * 100 + '%'}"></i>
        </div>
      </div>
      <button class="add" v-on:click="addSupplies">+</button>
    </div>

    <div class="vehicles-container">
      <span class="vehicles-count">Vehicles: {{vehicles}}</span>
      <span class="additional-vehicles">Additional Product: {{nextProductTick}} Seconds</span>
      <span class="resupply-tick">ReSupply: {{resupply}} Seconds</span>
    </div>

    <button class="sell" v-on:click="sellProducts">Sell</button>

  </div>
</template>
<script>
export default {
  props: [
    'businessTitle',
    'productsRate',
    'suppliesRate',
    'productTickValue',
    'maxStock',
    'maxSupplies',
    'vehicleStockRate'
  ],

  toggle: true,
  tick: 0,
  productTickValue: null,
  products: null,
  supplies: null,
  nextProductTick: null,
  nextVehicle: null,
  resupply: null,

  data () {
    return {
      toggle: true,
      tick: 0,
      products: 0,
      supplies: 0,
      nextProductTick: 0,
      nextVehicle: 0,
      resupply: 0
    }
  },

  computed: {
    vehicles () {
      let stockRate = JSON.parse(this.vehicleStockRate)
      let count = 0
      switch (true) {
        case (this.products >= 0 && this.products < stockRate[0]) :
          count = 1
          break
        case (this.products >= stockRate[0] && this.products < stockRate[1]) :
          count = 2
          break
        case (this.products >= stockRate[1] && this.products < stockRate[2]) :
          count = 3
          break
        default:
          count = 4
          break
      }
      return count
    }
  },

  mounted () {
    setInterval(() => {
      if (!this.toggle) return
      this.tick++

      if (this.supplies > 0 && this.products < this.maxStock) {
        if (this.tick % this.productsRate === 0) this.products++
        if (this.tick % this.suppliesRate === 0) this.supplies--
      }

      this.nextProductTick = (this.supplies) ? this.productsRate - this.tick % this.productsRate : 0
      this.resupply = Math.max(0, this.supplies * this.suppliesRate - this.tick % this.suppliesRate)
    }, 1000)
  },

  methods: {
    addSupplies (e) {
      if (this.supplies < this.maxSupplies) this.supplies = Math.floor(this.supplies * 0.1) * 10 + 10
    },
    removeSupplies (e) {
      if (this.supplies > 0) this.supplies--
    },
    addProducts (e) {
      if (this.products < this.maxStock) this.products++
    },
    removeProducts (e) {
      if (this.products > 0) this.products--
    },
    sellProducts (e) {
      this.products = 0
    },
    toggleTimer (e) {
      this.toggle = !this.toggle
    }
  }
}
</script>
<style lang="sass">
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon')
@font-face
  font-family: 'Pricedown'
  src: url('../assets/pricedown.ttf')

$col1: #B6B4AE
$col2: #2B2A25
$col3: #137AFB
$col4: #84FA14
$col5: #FA7814

#business-loader
  display: block
  position: relative
  font-family: 'Do Hyeon'
  opacity: 0.5

  &.isActive
    opacity: 1

.products-container,
.supplies-container,
.vehicles-container
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  align-content: space-between
  line-height: 22px
  background: $col2

.vehicles-container
  width: 78%
  margin: 0 6% 0 10%
  padding: 1%
  flex-direction: column
  align-items: flex-start
  text-align: left

  span
    width: 100%

.progress-bar
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 5px
  background: linear-gradient(90deg, $col1 0%, $col1 9.9999%, darken($col1, 10%) 10%, darken($col1, 10%) 19.9999%, $col1 20%, $col1 29.9999%, darken($col1, 10%) 30%, darken($col1, 10%) 39.9999%, $col1 40%, $col1 49.9999%, darken($col1, 10%) 50%, darken($col1, 10%) 59.9999%, $col1 60%, $col1 69.9999%, darken($col1, 10%) 70%, darken($col1, 10%) 79.9999%, $col1 80%, $col1 89.9999%, darken($col1, 10%) 90%, darken($col1, 10%) 100%)
  border-bottom: 2px solid $col1

  .progress
    display: block
    width: 50%
    height: 100%

.products-container
  .progress
    background: $col3
  .progress-bar
    border-bottom-color: $col3
.supplies-container
  .progress
    background: $col4
  .progress-bar
    border-bottom-color: $col4

div.data
  width: 80%
  min-height: 44px
  position: relative
  display: flex
  align-items: center
  align-content: center
  flex-wrap: nowrap
  justify-content: space-around
  font-size:  1.4rem
  font-weight: bold

h1.business-title
  font-family: 'Pricedown'
  background: $col2
  color: $col5
  padding: 8px 76px
  margin: 0
  font-size: 2.5rem
  text-align: left
  border-top-right-radius: 9px
  border-top-left-radius: 9px
  cursor: pointer

  &.isActive
    color: $col4

ul
  list-style-type: none
  padding: 0
  margin: 0

  li
    margin-bottom: 16px

span
  display: block
  z-index: 10
  position: relative
  width: 33%
  text-shadow: 0 0 .25rem rgba(0,0,0, 0.85)
  letter-spacing: 0.05rem
  color: white

  &.stock
  &.inside
  &.outside

button
  background: $col1
  border: 2px solid transparent
  border-radius: 9px
  width: 5%
  min-height: 44px
  outline: 0
  color: white
  cursor: pointer
  margin: 2px 2.5%
  box-sizing: border-box

  &.sell
    width: 25%
    margin-bottom: 2px
    min-height: 24px
    font-size: 1.1rem
    padding: 8px

  &:hover
    background: $col5
    color: black

</style>
