<template>
  <div id="app">

    <BusinessLoader
      businessTitle="Bunker"
      productsRate="420"
      suppliesRate="84"
      productTickValue="14000"
      maxStock="110"
      maxSupplies="110"
      vehicleStockRate="[26,51,76]"
    />
    <BusinessLoader
      businessTitle="Labor"
      productsRate="1800"
      suppliesRate="68"
      productTickValue="28000"
      maxStock="10"
      maxSupplies="100"
      vehicleStockRate="[4,6,8]"
    />
  </div>
</template>

<script>
import BusinessLoader from './components/BusinessLoader'

export default {
  name: 'App',
  components: {
    BusinessLoader
  }
}
</script>

<style lang="sass">
#app
  font-family: 'Pricedown', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
</style>
